services:
  database:
    image: postgres:18
    container_name: file_processing_postgres
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    
    ports:
      - "${POSTGRES_PORT}:5432"
    
    volumes:
      - postgres_data:/var/lib/postgresql
    
    env_file:
      - .env
    
    networks:
      - file_processing_network

    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 20s
      timeout: 5s
      retries: 5
  
volumes:
  postgres_data:

networks:
  file_processing_network:
    driver: bridge